body {
	background: url("background.jpg");
	font-family: "GE SS Text Medium", comic sans;
	margin: 0;
}
body::-webkit-scrollbar {
color: #2196f3;
}
body::-webkit-scrollbar-track{
color: #2196f3;
}
.znavch {
	background: #ffffff;
	min-height: 200px;
    float: left;
    margin: 4px;
    display: flex;
    align-items: center;
    width: calc(100%/6 - 8px);
    max-height: 179px;
    transition: cubic-bezier(0.4, 0, 1, 1) 0.1s;
}
.znavch:hover {
    transform: scale(1.08);
}
.znavch img {
	max-height: 150px;
    padding: 14px;
    display: block;
    max-width: calc(100% - 28px);
    margin: 0 auto;
    transition: ease-out 0.4s;
}
.znavch img:hover {
    transform: scale(1.1);
}
.znavch a {
	overflow: hidden;
	width: 100%;
}

.content-wrapper {
	display: block;
	width: 98%;
	margin: auto;
}

.content-wrapper:after {
	clear: both;
	display: block;
	content: "";
}

header h1 {
	font-family: "GE SS Two";
	text-align: center;
	font-size: 50px;
	padding: 20px;
	border-bottom: 2px dashed #000;
}